<div class="row">
    <div class="d-none d-md-block" style="width: 375px;">
        <app-side-nav [items]="['Tuition and Financial Information', 'SB-10-Scholarship', 'Pay-It-Forward']"></app-side-nav>
    </div>
    <div class="col fs-4">
        <div id="Tuition-and-Financial-Information" class="pb-3 mt-5">
            <h4 class="blue-text">Tuition and Financial Information</h4>
            <p>Tuition and therapy costs for the 2022-23 school year are $10,750.00. A second student from the same family will have a tuition of $9,750.00</p>
            Families have three choices for paying tuition: 
            <ol class="ms-3">
                <li>Pay in full in one payment</li>
                <li>Make two semi-annual payments - for this option, tuition will be $11,018.75</li>
                <li>Monthly payments - for this option, tuition will be $11,287.50 total</li>
            </ol>
            <div class="row m-0 p-0">
                <div class="col-8">
                    Other costs include:
                    <ul class="ms-3">
                        <li>Application fee: $50</li>
                        <li>One time NILD testing: $400</li>
                        <li>Annual registration: $200</li>
                        <li>Annual book usage fee: grades 2-5 is $300.00 and grades 6-8 is $325.00</li>
                        <li>NILD initial book fee (new students only): $225.00</li>
                        <li>Annual activity fee: $125 covers history projects, science projects, and related activities,  but does not include field trips</li>
                        <li>Annual Rhythmic Writing practice supervision: $250 </li>
                        <li>School entrance test and evaluation: $75.00 ONLY for students transferring from another NILD program</li>
                    </ul>
                </div>
                <div class="col align-self-center">
                    <img src="../../assets/tuition1.jpg" width="100%" alt="Tuition and financial information" />
                </div>
            </div>
            <div class="row m-0 p-0">
                <div class="col-8">
                    <h4>All fees are due at time of enrollment.</h4>
                    Families are also required to donate to our annual golf tournament in the spring. All parents are expected to participate by:
                    <ul class="ms-3">
                        <li>generating a minimum of $700 with hole sponsors and cash donations, or</li>
                        <li>providing prizes for raffle items, or </li>
                        <li>providing 2 foursomes of golfers.</li>
                    </ul>
                    <p>Families who are unable to participate with the golf classic will be responsible to personally donate the equivalent amount of $1,000.</p>
                    <p>Hope Springs also provides a learning experience through an annual school trip. This trip is usually in the fall and lasts 4-5 days. Each student is required and a parent or adult chaperone are expected to attend. The cost usually ranges between $1000 - $1,500 per person depending on the expenses of the trip planned.</p>
                </div>
                <div class="col align-self-center">
                    <img src="../../assets/tuition2.jpg" width="100%" alt="Tuition and financial information" />
                </div>
            </div>
            
        </div>
        <div id="SB-10-Scholarship" class="pb-3 row">
            <div class="col-8 align-self-center">
                <h4 class="blue-text">SB-10 Scholarship</h4>
                <p>Hope Springs does accept <a href="https://www.gadoe.org/_layouts/15/gadoepublic.spapp/sb10.aspx" target="_blank">SB-10 scholarship funds.</a> SB-10 payments are sent to the school quarterly, however parents are responsible to make all payments on time. If a scholarship payment is expected but not received by payment due date, parents will be expected to make the current payment, and the scholarship payment will be put toward the next month's payment.</p>
                <p>Our current process is to deduct your estimated SB-10 funds from the total tuition due at the beginning of the school year. However, if scholarship does not pay 100% of tuition then parents may choose one of the payment plans above.</p>
            </div>
            <div class="col">
                <img src="../../assets/tuition4.jpg" width="100%" alt="SB-10 Scholarship" />
            </div>
        </div>
        <div id="Pay-It-Forward" class="pb-3">
            <h4 class="blue-text">Pay It Forward (PIF)</h4>
            <p><a href="https://www.payitforwardscholarships.com/" target="_blank">Pay It Forward</a>/Corporate Giving for Education or other <a href="https://www.georgiasso.com/" target="_blank">GaSSO</a> scholarships are accepted. We will deduct the scholarship amount from tuition due and then check a payment plan on the Parental Contract for payment of balance. All PIF monies received January through April will be deducted from May's tuition payment. PIF monies received during and after May will be credited to the next year's tuition.</p>
            <div class="text-end" style="width: 100%;">
                <a href="javascript: void(0)" (click)="scrollToTop()" class="blue-text" style="text-decoration: none;">Back to top</a>
            </div>
        </div>
    </div>
    <div class="col-2">
    </div>
</div>


