<div class="container-fluid">
  <img src="../assets/header.png" alt="Hope Springs" style="width: 100%" />
  <nav class="navbar navbar-expand">
    <div class="collapse navbar-collapse justify-content-center hs-nav ">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">HOME |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us">ABOUT US |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/academics">ACADEMICS |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admissions">ADMISSIONS |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tuition">TUITION |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/uniquely-hs">UNIQUELY HS |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/support">SUPPORT |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">CONTACT</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <footer class="mt-2">
    <div class="pt-3 pb-3">
      <div class="row">
        <div class="col ms-4">
          <span class="fw-bold">501(c)-3</span><br />
          Hope Springs is a 501(c)-3 <br />
          that accepts charitable donations.
        </div>
        <div class="col-8 footer-banner text-center pt-2">
          OFFERING HOPE - POINTING TO CHRIST
        </div>
        <div class="col me-4">
          <span class="fw-bold">ADDRESS</span><br />
          1239 Braselton Hwy<br />
          Lawrenceville, GA 30043<br />
          Ph. 678-442-8785
        </div>
      </div>
    </div>
  </footer>
</div>