<div class="row">
    <div class="d-none d-md-block" style="width: 375px;">
        <app-side-nav [items]="['Student Life', 'Annual Field Trip', 'Parent Volunteering']"></app-side-nav>
    </div>
    <div class="col fs-4">
        <div class="pb-3 mt-5">
            <p>We are able to have many unique events and experiences because we are a small school. We go on several field trips throughout the year. In the past we have been to places like Gwinnett Environmental & Heritage Center, Rock The Presidents -Cobb Energy Performing Arts Ctr., Atlanta Ballet, GA Aquarium, Cyclorama, Tellus Museum. We offer study hall time each day for students to work on homework or other class assignments. Every Friday we bring in pizza for lunch!</p>
        </div>
        <div id="Student-Life" class="pb-3 row">
            <div class="col-8">
                <h4 class="blue-text">Student Life</h4>
                <p>Hope Springs hosts many fun activities throughout the year. These include events such as Grandparents lunch, Spirit Wear Days, Field Day, and holiday celebrations. We also participate in community service such as our annual November food drive.</p>
                <p><a href="https://www.allprodad.com/" target="_blank">All Pro Dads</a> - One hour meeting each month for dads to join their kids at school for a fun, memory-making event. </p>
                <p>Our school is located on a charming 2 acre site. We have a beautiful outdoor area behind the school with a porch, play structure, swings, small basketball court, tetherball poles, and a large green space for playing. In front we have a fish pond where students love to watch our resident goldfish and other aquatic life.</p>
                <p>At this time we do not offer after school clubs or athletics. We encourage you to find something outside of school that your child enjoys! </p>
            </div>
            <div class="col align-self-center">
                <img src="../../assets/uhs5.jpg" width="100%" alt="Student Life" />
            </div>
        </div>
        <div id="Annual-Field-Trip" class="pb-3 row">
            <div class="col-8">           
                <h4>Annual Overnight Field Trip</h4>
                Every year we plan an exciting field trip for our students! This trip is usually in the fall and lasts 4-5 days. In the weeks leading up to the field trip we study the sites we'll be visiting. During the trip our students have learning assignments to complete. Once we return to school there is a capstone activity to complete. Here are some examples of our previous trips: 
                <ul class="ms-3">
                    <li>2022: South Georgia visits to the Ocmulgee Mounds, Fort Pulaski, the Pin Point Museum, the Georgia Sea Turtle Center, and the Okefenokee Swamp</li>
                    <li>2018-2019:  Historical trip to Ark Encounter - Petersburg, KY; Fort Knox/Patton Museum; Mammoth Caves - Nashville, TN;  US Space and Rocket Center - Huntsville, AL; Dauphin Island Sea Lab and Estuarium; NAS Pensacola Museum; Civil Rights Tour - Montgomery, AL; Callaway Gardens - Pine Mountain, GA; Providence Canyon Hike - Lumpkin, GA.</li>
                    <li>2017-2018: Washington DC Trip - National Cathedral, Arlington Cemetery, Smithsonian Castle, Holocaust Museum, Capital, Botanical Gardens, Mt Vernon, Smithsonian Museums, Annapolis Academy.</li>
                    <li>2015 - 2016: FL/GA Trip - Callaway Gardens, Tarpon Springs, Clearwater Aquarium, Seaworld, Kennedy Space Center, St. Augustine Tour, Jekyll Island Sea Turtle Rescue Museum, Okefenokee Swamp, Savannah Safari, Mickve Israel Temple, Fort Pulaski </li>
                </ul>
            </div>
            <div class="col align-self-center">
                <img src="../../assets/uhs1.jpg" width="100%" alt="Annual Field Trip" /> 
            </div>
        </div>
        <div id="Parent-Volunteering" class="pb-3 row">
            <div class="col-8">
                <h4>Parent Volunteering</h4>
                We depend on parent volunteering to keep our school running smoothly. We ask that each family have a parent or guardian volunteer at least 1 hour per month. Please prayerfully consider how you can support our students. Here are some examples of our needs:
                <ul class="ms-3">
                    <li>Answer phones</li>
                    <li>Be trained to help with Rhythmic Writing</li>
                    <li>Morning greeter/monitor Rhythmic Writing once a week</li>
                    <li>Run errands for the school (pick up supplies, etc.)</li>
                    <li>Dust and/or vacuum</li>
                    <li>Monitor study hall once a week</li>
                    <li>Monitor lunchroom once a week</li>
                    <li>Write individual pizza orders on summary forms</li>
                    <li>Run copies or laminate items for teachers</li>
                    <li>Clean the restrooms</li>
                    <li>Clean the pond</li>
                    <li>General maintenance of the school building (sweep front porch, change light bulbs)</li>
                    <li>Straighten books in the library or  great room</li>
                    <li>Seasonal decorating</li>
                    <li>Prayer coordinator</li>
                    <li>Catalog new teacher materials and donations</li>
                    <li>Organize materials and boxes of supplies</li>
                    <li>Clean and organize the shed</li>
                </ul>
            </div>
            <div class="col align-self-center">
                <img src="../../assets/uhs2.jpg" width="100%" alt="Parent Volunteering" class="pb-3" />
                <img src="../../assets/uhs3.jpg" width="100%" alt="Parent Volunteering" />              
            </div>
            <div class="row m-0 p-0">
                <div class="col">
                    <div class="text-end" style="width: 100%;">
                        <a href="javascript: void(0)" (click)="scrollToTop()" class="blue-text" style="text-decoration: none;">Back to top</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
    </div>
</div>