<div class="row m-4 pb-5">
    <div class="col-5 fs-4">
        <p>Hope Springs Christian Learning Center serves children with learning differences in a distinctly Christian setting.  We empower children to fulfill God's purpose for their lives by developing their unique abilities.</p>
        <p>Hope Springs serves children in grades 3 through 8. We serve children who have Attention Deficit Hyperactivity Disorder (ADHD), a mild level of Autism, Dyscalculia, Dysgraphia, Dyslexia, and/or other specific learning disabilities. Many students who come to our school have had an Individual Education Plan (IEP) in public school. We are not a good fit for children who are diagnosed with a moderate to severe intellectual disability, severe autism, or behavioral difficulties.</p>
    </div>
    <div class="col-7">
        <div style="position: relative;">
            <img src="../../assets/everyone.jpg" alt="Students and Teachers" width="100%" />
            <div class="announce">
                Accepting students for the 22-23 school year.
            </div>
        </div>
    </div>
</div>
<div class="row m-4">
    <div class="col-4 align-self-center">
        <img src="../../assets/writing.jpg" alt="writing" width="100%" />
    </div>
    <div class="col-8 fs-4">
        <h3>NILD Educational Therapy is the Foundation of our Teaching</h3>
        <p>Hope Springs is one of a few schools in the Atlanta area that uses the <a href="https://nild.org" target="_blank">National Institute for Learning Development</a> (NILD) Educational Therapy&#174;.  We are <u>the only school</u> that offers NILD Education Therapy as part of our daily curriculum.</p>
        <p>This therapy helps students develop tools for independent learning in the classroom and in life.  Our NILD program is based on Orton-Gillingham research, with more comprehensive application by current brain research.  It is also approved by the International Dyslexia Association.  NILD Educational Therapy&#174; focuses on four key components: cognition, perception, academics and emotions.</p>
        <p>This therapy strengthens our students' education and helps them gain confidence to progress toward standard curriculum environments offered in traditional school environments.  Learn more about <a href="./academics">our approach.</a></p>
    </div>
</div>
