<div class="row">
    <div class="d-none d-md-block" style="width: 375px">
        <app-side-nav [items]="['Admissions Process', 'Enrollment policies', 'Uniforms and dress code']"></app-side-nav>
    </div>
    <div class="col fs-4">
        <div id="Admissions-Process" class="mt-5 pb-3 row">
            <div class="col-8">
                <h4 class="blue-text">Admissions Process</h4>
                <ol>
                    <li>Review our <a href="../../assets/prospectus.pdf" target="_blank">Prospectus Packet</a> to see if you think Hope Springs would be a good fit for your student and family.</li>
                    <li>Let's meet for a tour of the school and to discuss your student's needs.</li>
                    <li>Have a WISC IQ test completed for your child if we decide to go forward after the tour.</li>
                    <li>Submit an application and $50 application fee, a current copy (not over 2 years old) of prior psychological testing, copies of all prior school records, and a referral from a psychologist or doctor, if available.</li>
                    <li>We will schedule NILD testing for your child which requires a $400 testing fee before or on the day of testing.  Test scores are usually available within a week after testing.</li>
                    <li>The director will call you to discuss the results and the school's admission decision.</li>
                </ol>
                Once you receive a notice of acceptance, you will need to submit admissions forms and fees including:
                <ul class="ms-3">
                    <li>Signed Doctrinal Statement</li>
                    <li>Signed Loan Agreement and Parent Agreement</li>
                    <li>Registration Fee</li>
                    <li>Full Tuition Payment or First Tuition Payment (see Loan Agreement)</li>
                </ul>
                Before beginning school we will need a copy of the student's:
                <ul class="ms-3">
                    <li>Birth Certificate</li>
                    <li>Vision/Hearing/Dental/Health (Form 3300)</li>
                    <li>Certification of Immunization</li>
                </ul>
                All remaining fees must be paid by September or second month of enrollment.
            </div>
            <div class="col align-self-center">
                <img src="../../assets/admissions1.jpg" width="100%" alt="Admissions Process" />
                <div class="text-end" style="width: 100%;">
                    <a href="javascript: void(0)" (click)="scrollToTop()" class="blue-text" style="text-decoration: none;">Back to top</a>
                </div>
            </div>
        </div>
        <div id="Enrollment-policies" class="mt-5 pb-3">
            <h4 class="blue-text">Enrollment policies</h4>
            <p>Hope Springs CLC usually has a rolling admissions policy.  We will accept new students through March of the current school year.  We do not allow discrimination, harassment or retaliation on the basis of race, color, national origin, age, sex or disability/handicap in admission to our educational programs, activities, services and employment opportunities.</p>
        </div>
        <div id="Uniforms-and-dress-code" class="mt-5 row">
            <div class="col-8 align-self-center">
                <h4 class="blue-text">Uniforms and dress code</h4>
                <p>Hope Springs students are required to wear a uniform.  You can find all of these pieces at a local store or online.</p>
                Shirts
                <ul class="ms-3">
                    <li>Polo style shirt, solid colors - navy, light blue, red, or white</li>
                    <li>Girls may wear white button down shirts under a jumper</li>
                </ul>
                Boys
                <ul class="ms-3">
                    <li>Docker style slacks or shorts with 2 front pockets only - navy or khaki. NO CARGO or carpenter style pants</li>
                    <li>Belt - solid black or brown </li>
                </ul>
                Girls
                <ul class="ms-3">
                    <li>Dresses, jumpers, skorts, shorts, and pants</li>
                    <li>Docker style slacks or shorts with 2 front pockets only - navy or khaki. NO CARGO or carpenter style pants</li>
                </ul>
                Sweaters, Sweatshirts and Fleeces
                <ul class="ms-3">
                    <li>Zipper, buttoned, or pullover in solid colors - navy, red, or white</li>
                    <li>No hoods, pictures, pockets, or insignias</li>
                </ul>
                Cold Weather Jackets
                <ul class="ms-3">
                    <li>Non-fleece winter coats may be worn when outside the school building. Non-fleece jackets must be removed inside the classroom.</li>
                </ul>
            </div>
            <div class="col">
                <img src="../../assets/admissions2.jpeg" width="100%" alt="Uniforms and dress code" />
                <img src="../../assets/admissions3.jpeg" width="100%" alt="Uniforms and dress code" />
                <div class="text-end" style="width: 100%;">
                    <a href="javascript: void(0)" (click)="scrollToTop()" class="blue-text" style="text-decoration: none;">Back to top</a>
                </div>
            </div>           
        </div>
    </div>
    <div class="col-2">
    </div>
</div>
