<div class="row">
    <div class="d-none d-md-block" style="width: 375px;">
        <app-side-nav [items]="['Donations', 'School Wish List', 'Golf Tournament', 'Community Rewards for Schools']"></app-side-nav>
    </div>
    <div class="col fs-4">
        <div class="pb-3 mt-5">
            <p>We encourage you to pray for our school, our teachers and staff, our students, and our board.</p>
        </div>
        <div id="Donations" class="pb-3 row">
            <div class="col-8">
                <h4 class="blue-text">Donations</h4>
                <p>Hope Springs has a non-profit 501(c)-3 status so all donations to the school are tax deductible. Generous contributions are necessary for us to provide a Christian education for students with learning differences. Our low student to teacher ratio is necessary but expensive.</p>
                <p>Hope Springs depends on the generosity of donors, including parents, grandparents, alumni and alumni families, foundations, and community friends to support annual operating expenses, financial aid, and future growth. Our tax identification number is 58-221-5876.</p>
                <p>You may be able to double your contribution if your company offers a donation matching program.</p>
                <p>
                    Donate through PayPal or mail a check to:<br />
                    Hope Springs Christian Learning Center<br />
                    Attn: Pam Coyne<br />
                    1230 Braselton Hwy<br />
                    Lawrenceville, GA 30043
                </p>
            </div>
            <div class="col align-self-center">
                <img src="../../assets/support1.jpg" width="100%" alt="Donations" />
            </div>
        </div>
        <div id="School-Wish-List" class="pb-3">
            <h4 class="blue-text">School wish list</h4>
            <p>Consider purchasing some needed items from our Amazon Wish List.</p>
        </div>
        <div id="Golf-Tournament" class="pb-3 row">
            <div class="col-8 align-self-center">
                <h4 class="blue-text">Golf Tournament</h4>
                <p>We host a Golf Classic each year in the spring. The fun includes great hole prizes, cash awards, a silent auction, and a guaranteed-win super raffle all to support our amazing school.. Sponsorship opportunities are available, and we gladly accept goods and services donations for our raffle and silent auction. Please join us and support this fantastic event where 100% of the proceeds stay at our school.  Contact us at 678-985-5366 to learn more.</p>
            </div>
            <div class="col">
                <img src="../../assets/support3.jpeg" width="100%" />
            </div>
        </div>
        <div id="Community-Rewards-for-Schools" class="pb-3 row">
            <div class="col-8">
                <h4 class="blue-text">Community Rewards for Schools</h4>
                <p>Hope Springs CLC participates in several community rewards programs. We will receive a small portion of your spending back from these partners. You can also encourage local family and friends to support us through these programs.</p>
                <p><b>Publix: </b>Link your phone number to Hope Springs CLC through the <a href="https://corporate.publix.com/community/corporate-campaigns/publix-partners/supporters" target="_blank">Publix Partners website</a></p>
                <p><b>Kroger: </b>Link your Kroger Plus card through the <a href="https://www.kroger.com/i/community/community-rewards" target="_blank">Kroger Community Rewards</a> website</p>
                <p><b>Box Tops for Education: </b>Download the Box Top app to your phone and link to the school. Then you can scan your receipts into the phone app.</p>
            </div>
            <div class="col align-self-center">
                <img src="../../assets/support4.jpg" width="100%" alt="Community Rewards" />
            </div>           
        </div>
        <div class="row">
            <div class="col">
                <div class="text-end" style="width: 100%;">
                    <a href="javascript: void(0)" (click)="scrollToTop()" class="blue-text" style="text-decoration: none;">Back to top</a>
                </div>
            </div>
        </div>
        <div id="Pay-It-Forward" class="pb-3 row">
            <div class="col-8 align-self-center">
                <h4 class="blue-text">Pay it Forward</h4>
                <p>This is a scholarship program that anyone can donate to. You can designate that your donation is for Hope Springs CLC. Donations are then split between the families that apply for it. Donations can be $2,500 per family or $10,000 per business. Taxpayers will receive a dollar-for-dollar Georgia Qualified Education Expense Tax Credit and can claim the donation as a federal charitable deduction. Find out more at <a href="https://www.payitforwardscholarships.com/" target="_blank">Pay It Forward.</a></p>
            </div>
            <div class="col">
                <img src="../../assets/support5.jpg" width="100%" alt="Pay It Forward" />
            </div>
        </div>
    </div>
    <div class="col-2">
    </div>
</div>