<div class="row">
    <div class="d-none d-md-block" style="width: 375px;">
        <app-side-nav [items]="['Philosophy', 'Purpose', 'Program Goals', 'Our teachers and staff', 'Hours of operation', 'Lunch options', 'Accreditations - Affiliations', 'Employment interest', 'History of the school', 'School Board']"></app-side-nav>
    </div>
    <div class="col fs-4">
        <div id="Philosophy" class="pb-3 mt-5 row">
            <div class="col-8">
                <h4 class="blue-text">Philosophy</h4>
                <p>We believe that children are created by God with unique gifts in different areas and in different measures. We focus on meeting the individual needs of each child. The right educational environment should affirm the student and guide them toward realizing God's claim on their life.</p>
                <p>We are better able to balance learning in a way that thoughtfully develops our students' mind, soul, emotions, and body when we teach to the “whole student”. We believe that education is a lifestyle, and mentoring our students as they develop a positive, Christ-centered lifestyle continues the work God has called us to do.</p>
                <p>We believe that our curriculum should create a hunger in each student to want to learn, to want to know more, and to be actively pursuing their best gifts from the resources available to them. This atmosphere and curriculum should be consistent with the learning styles of children with learning disabilities. We believe that education is an atmosphere that should be respectful. We believe that education is a discipline.</p>
                <p>We believe in Christian training that corrects, models, and strengthens to develop character. Strong character comes from the implementation of good and Godly habits. Academic progress follows when there is a proper emphasis on character development. We believe that parents and teachers are role models and should demonstrate the Lordship of Christ in every area of life.</p>
            </div>
            <div class="col align-self-center">
                <img src="../../assets/aboutus2.jpg" width="100%" alt="Philosophy" />
                <img src="../../assets/aboutus1.jpg" width="100%" alt="Philosophy" class="mt-5" />
            </div>           
        </div>
        <div id="Purpose" class="mt-5 pb-3">
            <h4 class="blue-text">Purpose</h4>
            <p>Hope Springs CLC provides an optimum learning experience in a distinctly Christian setting for children with learning differences. Hope Springs meets the needs of children who are experiencing failure in the traditional classroom. They may have been diagnosed as slow learners or as having a learning disability. They may need a period of academic success and intensive training to prepare them for a return to traditional education. Parents who are committed to participating in their child's educational experience are essential to our model.</p>
            Key factors that make it possible for Hope Springs to provide this optimum learning experience include:
            <ul class="ms-3">
                <li>A faculty of highly trained Christian teachers committed to helping children reach their full potential.</li>
                <li>An academic program integrated with the most effective learning methods and materials available.</li>
                <li>Small classes of ability-grouped children.  Class sizes range from 3 to 8 students, with an average of 5.</li>
                <li>One-to-one educational therapy following the National Institute of Learning Development (NILD) program.</li>
                <li>NILD techniques and Executive Function skills integrated daily in the classroom.</li>
            </ul>
            <div class="text-end" style="width: 100%;">
                <a href="javascript: void(0)" (click)="scrollToTop()" class="blue-text" style="text-decoration: none;">Back to top</a>
            </div>
        </div>
        <div id="Program-Goals" class="mt-5 pb-3 row">
            <div class="col-8">
                <h4 class="blue-text">Program Goals</h4>
                Most students need 3 to 5 years of NILD therapy to successfully graduate from the program. While they are with us, we:
                <ul class="ms-3">
                    <li>Remediate deficient academic skills and stimulate the areas of weakness in perception and cognition through the NILD program.</li>
                    <li>Help build a strong Christian character by adding to the student's understanding of Biblical Christianity: the development of a personal faith, moral excellence, knowledge, self-control, perseverance, godliness, brotherly kindness and love. We do this through carefully maintained habits, watching people who model this kind of life, parent education, and service to the community.</li>
                    <li>Provide a safe, trusting, structured environment in which the student will understand through experience that he/she can learn.</li>
                    <li>Emphasize the knowledge, skills, values, attitudes, and behavior that will enable effective participation in the student's world as they reach for their God-given potential.</li>
                    <li>Train each student to become an independent learner by fostering a positive attitude toward active learning, by teaching good study habits, by being committed to self-discipline and working through the curriculum.</li>
                    <li>Enable students to return to the regular classroom (probably with continued NILD therapy for some time) when it is appropriate for the student's best interest.</li>
                </ul>
            </div>
            <div class="col align-self-center">
                <img src="../../assets/aboutus3.jpg" width="100%" alt="Program Goals" />
            </div>
        </div>
        <div id="Our-teachers-and-staff" class="mt-5 pb-3">
            <h4 class="blue-text">Our teachers and staff</h4>
            <p>Hope Springs CLC, with God's help, intends to provide the best and most qualified staff for our students. Every member of our staff and school board has a special love for students who struggle because of their own experiences with a learner that struggles. All teachers at Hope Springs CLC are also trained (or are in the process of being trained) as NILD therapists so that they can integrate therapy techniques into the classroom daily, as well as provide one-on-one therapy to their students. </p>    
            <div class="row mb-3">
                <div class="col-8">
                    <h4>Mrs. Bettina Cain</h4>
                    Mrs. Cain leads our upper class of children in 6-8th grades. She has 16 years of teaching experience. Mrs. Cain has been an NILD member since 2018 and became a NILD Professionally Certified Educational Therapist in 2021. She has a degree in Secondary English and Speech from Western Michigan University.
                </div>
                <div class="col">
                    <img src="../../assets/cain.jpg" width="100%"/>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-8">
                    <h4>Mrs. Marie Hopper</h4>
                    Mrs. Hopper leads our youngest class of children who are in 3-4 grades. She has 2 years of teaching experience in special education settings. Mrs. Hopper has been a NILD member since 2022 and has a degree in U.S. History from Georgia Gwinnett College.
                </div>
                <div class="col">
                    <img src="../../assets/hopper.jpg" width="100%"/>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-8">
                    <h4>Mrs. Sherrie McColley</h4>
                    Mrs. McColley leads our middle grade class of children in grades 5-6th. She has 22 years of teaching experience. Mrs. McColley has been an NILD member since 2003 and a NILD Professionally Certified Education Therapist (PCET) since 2015. Mrs. McColley has a Community Health Promotion/Clinical and Health Education degree from Liberty University. She's had an Autism Specialist Certification since 2017 and a  PCDT - Certification  from the International Dyslexia Association (IDA). Mrs. McColley has been a member of IDA and the Learning Disability Association since 2017.
                </div>
                <div class="col">
                    <img src="../../assets/mccolley.jpg" width="100%"/>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-8">
                    <h4>Mrs. Sarah West</h4>
                    Mrs. West is our Director and also teaches part-time in our middle class grades. She has 15 years of teaching experience and has been an NILD member since 2022. Mrs. West has a degree in Early Childhood Education from the University of Georgia, and a Master degree in Elementary Education and an Education Specialist degree in Teaching and Learning from Piedmont College. She also has a Gifted Endorsement from Pioneer Regional Service Agency.
                </div>
                <div class="col">
                    <img src="../../assets/west.jpg" width="100%"/>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <h4>Mrs. Pamela Coyne</h4>
                    Mrs. Coyne is our school administrator, and she has over 20 telecommunication technical certifications including a Masters Certification in Project Management from George Washington University, Management Certification from IBM New Leaders, Coaching for Managers from IBM, School of Management from Boston University, and Business Unit Executive Leadership from IBM. Mrs. Coyne has a degree in Sociology from Vermont College of Norwich University.
                </div>
                <div class="col">
                    <img src="../../assets/coyne.jpg" width="100%"/>
                </div>
            </div>
            <div class="text-end" style="width: 100%;">
                <a href="javascript: void(0)" (click)="scrollToTop()" class="blue-text" style="text-decoration: none;">Back to top</a>
            </div>
        </div>
        <div id="Hours-of-operation" class="mt-5 pb-3 row">
            <div class="col-8">
                <h4 class="blue-text">Hours of operation</h4>
                <p>Our school hours are 8:15 to 2:30 on Monday, Tuesday, Thursday, and Friday. On Wednesday our school hours are 8:15 to 12:00pm. Limited after care is available on Wednesdays until 2:30. Morning carpool begins at 8:00 and afternoon carpool begins at 2:30. All children should be picked up by 2:40 on full days and 12:10 on Wednesdays.</p>
                <p>Please do your best to have your child arrive on time and ready to learn.</p>
                <p>Carpools may be available. The school can provide contact information for parents who may live in your area. There are a few child care centers that may pick up from the school. Please inquire with the director if you need this option.</p>
            </div>
            <div class="col align-self-center">
                <img src="../../assets/aboutus4.jpg" width="100%" alt="Hours of Operation" />
            </div>
        </div>
        <div id="Lunch-options" class="mt-5 pb-3">
            <h4 class="blue-text">Lunch options</h4>
            <p>Students should bring lunch from home on Monday, Tuesday and Thursday. On Friday students can bring lunch or participate in Pizza Day. Students should come with a snack every day, and we encourage you to send fruit.  Microwaves are available to reheat food. The refrigerator is NOT for student use. Please <u>do not</u> pack sodas, sports drinks, drink additives, or candy. Items with high levels of sugar impede a student's ability to focus and think clearly in class.</p>
            <p>Friday is pizza day! Each Friday you have the <u>option</u> of purchasing pizza and a small dessert for your child. We will send home an order form two times per semester.</p>
            <div class="text-end" style="width: 100%;">
                <a href="javascript: void(0)" (click)="scrollToTop()" class="blue-text" style="text-decoration: none;">Back to top</a>
            </div>
        </div>
        <div id="Accreditations---Affiliations" class="mt-5 pb-3">
            <h4 class="blue-text">Accreditations and Affiliations</h4>
            <ul class="ms-3">
                <li>Georgia Accrediting Commission (GAC)</li>
                <li>National Institute for Learning Differences (NILD)</li>
                <li>Learning Disabilities Association of America (LDA)</li>
                <li>International Dyslexia Association (IDA)</li>
            </ul>
        </div>
        <div id="Employment-interest" class="mt-5 pb-3">
            <h4 class="blue-text">Employment interest</h4>
            <p>Please contact the director Sarah West if you are interested in employment at Hope Springs.</p>
            <div class="text-end" style="width: 100%;">
                <a href="javascript: void(0)" (click)="scrollToTop()" class="blue-text" style="text-decoration: none;">Back to top</a>
            </div>
        </div>
        <div id="History-of-the-school" class="mt-5 pb-3">
            <h4 class="blue-text">History of the school</h4>
            <p>Faith and Everett Boyce felt drawn to serve Christian families with children who have learning differences. They founded Hope Spring in 1996 to support children who struggled to cope in the strenuous academic environments of local Christian and public schools. Faith and Everett were missionaries for 23 years to the Philippine Islands where they ran a school for missionary children. Faith was introduced to the NILD program in 1978. They started Hope Springs CLC when they returned to the United States. The school's guiding scripture verse is Psalm 139:14, “I will praise you for I am fearfully and wonderfully made.” </p>
        </div>
        <div id="School-Board" class="mt-5 pb-3">
            <h4 class="blue-text">School Board</h4>
            <div class="mb-3">
                Dr. Robert and Mrs. Lynn Culver<br />
                President of InterFACE Ministries
            </div>
            <div class="mb-3">
                Mr. Larry Okeson<br />
                Retired businessman
            </div>
            <div class="mb-3">
                Mrs. Sharon Anthony, M.Ed.<br />
                Bookkeeper and Certified Learning Disability Specialist
            </div>
            <div class="mb-3">
                Mr. Alfred and Tracy Roth<br />
                Business owners and former HS parents
            </div>
            <div class="mb-3">
                Dr. Gregg Langham<br />
                Veterinarian and former HS parent
            </div>
            <div class="mb-3">
                Sherrie McColley<br />
                Educator and Professionally Certified Educational Therapist
            </div>
            <div class="text-end" style="width: 100%;">
                <a href="javascript: void(0)" (click)="scrollToTop()" class="blue-text" style="text-decoration: none;">Back to top</a>
            </div>
        </div>
    </div>
    <div class="col-2">
    </div>
</div>

