<div class="row">
    <div class="d-none d-md-block" style="width: 375px;">
        <app-side-nav [items]="['NILD Educational Therapy', 'Classes and Curriculum', 'Calendar', 'Supply list', 'After Hope Springs']"></app-side-nav>
    </div>
    <div class="col fs-4">
        <div id="NILD-Educational-Therapy" class="pb-3 mt-5 row">
            <div class="col-8">
                <h4 class="blue-text">NILD Educational Therapy</h4>
                <p>The goal of NILD Educational Therapy® is to help students develop tools for independent learning in the classroom and in life. The focus of our one-on-one and small-group, individualized interventions is to address the underlying causes of learning difficulties, rather than simply treating the symptoms as tutoring does.</p>
                <p>NILD educational therapy is a true therapy in that it aims the intervention just above the student's current level of functioning and raises expectations for performance, which creates the framework to foster that growth.</p>
                <p>NILD therapy students become competent, confident learners. They gain mastery over their cognitive vulnerabilities and hone their cognitive strengths for success in the classroom and in life. Read <a href="https://nild.org" target="_blank">more here.</a></p>
                With NILD therapy, students become better able to:
                <ul class="ms-3">
                    <li>pay attention and stay focused on the teacher's voice,</li>
                    <li>accurately hear and remember what the teacher is saying,</li>
                    <li>read visual information on the board or computer screen,</li>
                    <li>understand the main points of what the teacher is saying and decide the significant information to record,</li>
                    <li>remember how to spell the words needing to be written</li>
                    <li>write legibly, and</li>
                    <li>complete homework accurately and independently.</li>
                </ul>
                There are 5 main components of NILD Educational Therapy:
                <ol class="ms-3">
                    <li>Rhythmic Writing</li>
                    <li>Gray Matter</li>
                    <li>Math Block</li>
                    <li>Dictation and Copy</li>
                    <li>Buzzer</li>
                </ol>
                <p>The International Dyslexia Association has accredited NILD teacher programs for students with dyslexia and reading difficulties. The IDA noted these specific strengths:</p>
                <ul class="ms-3">
                    <li>Therapeutic Approach is research-based, individualized, and grounded in test and observational data</li>
                    <li>Components of reading are addressed within a cognitive development framework</li>
                    <li>Rich vocabulary development is emphasized in all segments of the therapy session</li>
                    <li>Assessment and progress monitoring is strong</li>
                    <li>Diagnostic teaching is evident</li>
                    <li>Ethical standards for therapists are taught explicitly and monitored</li>
                    <li>Degree programs are available and many therapists seek a Master's of Education</li>
                </ul>
                <p>Each student receives a minimum of 60 one-to-one sessions, generally two times per week for 55 minutes each depending on holidays and inclement weather. This is supplemented by at least three Rhythmic Writing practice sessions each week (10 to 15 minutes each) under the supervision of a therapist or trained therapy aide. In addition, many NILD therapy techniques are used in the classroom throughout the day.</p>
            </div>
            <div class="col align-self-center">
                <img src="../../assets/academics1.jpg" width="100%" alt="NILD Educational Therapy" />
            </div>
        </div>
        <div id="Classes-and-Curriculum" class="mt-5 pb-3 row">
            <div class="col-8">
                <h4 class="blue-text">Classes and Curriculum</h4>
                <p>Our students are taught in ability-level groups, because we believe that being in graded classes has hindered the learning process of those with learning differences.</p>
                <p>We believe that children with learning differences need to be in a different learning environment from the traditional classroom and that they also need a curriculum that is sensory-based, experiential, and emphasizes language processing in many different ways.</p>
                Hope Springs uses the following curriculums and may incorporate others as needed
                <ul class="ms-3">
                    <li>Abeka for math, English, reading, history, and science</li>
                    <li>Merrill math, supplement to Abeka math </li>
                    <li>NILD approach used with the basic skills of reading, writing, and spelling </li>
                    <li>Gray Matter is used for phonics</li>
                    <li>Wordly Wise – vocabulary and spelling</li>
                    <li>New City Catechism and the Bible</li>
                </ul>
                <p>We also plan enrichment experiences such as field trips, special speakers, and special activity days.</p>
            </div>
            <div class="col align-self-center">
                <img src="../../assets/academics2.jpg" width="100%" alt="Classes and Curriculum" />
            </div>
            <div class="row p-0 m-0">
                <div class="col-8 align-self-center">           
                    <h4>An average day at Hope Springs</h4>
                    <ul class="ms-3">
                        <li>Arrival and Rhythmic Writing</li>
                        <li>Morning Meeting: Pledges, Prayer, and Catechism</li>
                        <li>Bible Lesson</li>
                        <li>Language Arts: Gray Matter, Spelling, Vocabulary, Reading</li>
                        <li>15 minute recess</li>
                        <li>Grammar and Writing</li>
                        <li>Science or History</li>
                        <li>An hour for lunch, clean up, and recess</li>
                        <li>Math</li>
                        <li>Study Hall and NILD Educational Therapy</li>
                        <li>Dismissal</li>
                    </ul>                 
                </div>
                <div class="col">
                    <img src="../../assets/academics4.jpg" width="100%" alt="Classes and Curriculum" />
                    <div class="text-end" style="width: 100%;">
                        <a href="javascript: void(0)" (click)="scrollToTop()" class="blue-text" style="text-decoration: none;">Back to top</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="Calendar" class="mt-5 pb-3">
            <h4 class="blue-text">Calendar</h4>
            <p>In general we follow the Gwinnett County Public Schools calendar with some minor differences. You can review our calendar <a href="../../assets/calendar.pdf" target="_blank">here.</a></p>
        </div>
        <div id="Supply-list" class="mt-5 pb-3 row">
            <div class="col-8">
                <h4 class="blue-text">Supply list</h4>
                <p>Download the <a href="../../assets/supply-list.pdf" target="_blank">pdf</a></p>
                <p>
                    Individual supplies: These supplies will be designated for the personal use of your child and should be labeled with the child's name.<br />
                    1 - NIV Bible<br />
                    1 - navy, red, or white sweatshirt or sweater (no hood/no logo)<br />
                    1 - large (2 inch) binder with 10 divider tabs<br />
                    1 - pack of wide-ruled paper<br />
                    1 - pack of 3x5 lined index cards<br />
                    3 - composition notebooks; (each a different color or pattern<br />
                    2 - spiral notebooks; any color<br />
                    3 - 12 pack of #2 pencils<br />
                    1 - small pencil sharpener (manual)<br />
                    24 - cap erasers<br />
                    2 - pencil boxes<br />
                    2 - reusable water bottles (with straw or small spout, no open top please)<br />
                    5 - face masks (in case of sickness at school)<br />
                    ~~~~<br />
                    1 - calculator (TI - 30 for 7/8th grade math only)<br />
                    1 - compass and protractor (7/8th grade math only)<br />
                </p>
                <p>
                    School General Use Supplies: These supplies will be used to restock and clean shared spaces/needs of the school.<br />
                    1 - tissue box<br />
                    2 - hand sanitizers<br />
                    2 - 4 pack Expo whiteboard markers (1 chisel tip, 1 fine tip)<br />
                    2 - rolls of paper towels<br />
                    1 - 4 pack Magic Erasers<br />
                    1 - bottle Clorox or Lysol spray<br />
                    1 - container Clorox or Lysol wipes<br />
                    Optional: cheap paper plates
                </p>
                <p>Please prayerfully consider contributing something from our Amazon Wish List.</p>
            </div>
            <div class="col align-self-center">
                <img src="../../assets/academics3.jpg" width="100%" alt="Supply List" />
                <div class="text-end" style="width: 100%;">
                    <a href="javascript: void(0)" (click)="scrollToTop()" class="blue-text" style="text-decoration: none;">Back to top</a>
                </div>
            </div>     
        </div>
        <div id="After-Hope-Springs" class="mt-5 pb-3">
            <h4 class="blue-text">After Hope Springs</h4>
            <p>Students leave Hope Springs prepared to enter a middle school or high school of their choice. We have students at Lanier Christian Academy, Bethlehem Christian Academy, Braselton Christian Academy LLC,  Horizon Christian Academy, and public middle and high schools.</p>
        </div>
    </div>
    <div class="col-2">
    </div>
</div>

